name: Build and Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag (å¦‚ v1.0.0)'
        required: true
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Publish
        run: dotnet publish -c Release -r linux-x64 --self-contained false
      - name: Archive publish folder
        run: |
          tar -czvf AlertManagerWebhook-linux-x64.tar.gz -C ./AlertManagerWebhook/bin/Release/net9.0/linux-x64/publish .
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag }}
          files: AlertManagerWebhook-linux-x64.tar.gz
